
<div id="center" style="background: #fff;border: 1px solid #F1F1F1;">
  <div class="title">
    <h1><%= @catalog.title %></h1>
    作者：
    <span><%= @catalog.book.author %></span>
    分类：
    <span>
      <%= @catalog.book.category.title %>
    </span>
    字体：
    <span>
      <a class="largeFont">大</a>
      <a class="medFont">中</a>
      <a class="smallFont">小</a>
    </span>
  </div>
  <div id="content" class="fontsizebox" style="font-size: 20px;">
    <%= @content %>
  </div>

  <div class="jump">
    <div class="jump1">
      <% if @prev_catalog.nil? %>
          <a onclick="return false">上一章</a>
      <% else %>
          <a href="/book/<%= @catalog.book_id %>/<%= @prev_catalog.catalog_id %>.html">上一章</a>
      <% end %>
      <a href="/book/<%= @catalog.book_id %>.html">回目录</a>
      <% if @next_catalog.nil? %>
          <a onclick="return false">下一章</a>
      <% else %>
          <a href="/book/<%= @catalog.book_id %>/<%= @next_catalog.catalog_id %>.html">下一章</a>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<script>
//    document.oncontextmenu=function(){return false;};
    document.onselectstart=function(){return false;};
</script>
<script type="text/javascript">

    $(document).ready(function(){
        fontResizer('16px','20px','24px');
    });

    function fontResizer(smallFont,medFont,largeFont){

        function clearSelected(){
            $(".smallFont").removeClass("curFont");
            $(".medFont").removeClass("curFont");
            $(".largeFont").removeClass("curFont");
        }

        function saveState(curSize){
            var date = new Date();
            date.setTime(date.getTime()+(7*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
            document.cookie = "fontSizer"+"="+curSize+expires+"; path=/";
        }

        $(".smallFont").click(function(){
            $('.fontsizebox').css('font-size', smallFont);
            clearSelected();
            $(".smallFont").addClass("curFont");
            saveState(smallFont);
        });

        $(".medFont").click(function(){
            $('.fontsizebox').css('font-size', medFont);
            clearSelected();
            $(".medFont").addClass("curFont");
            saveState(medFont);
        });

        $(".largeFont").click(function(){
            $('.fontsizebox').css('font-size', largeFont);
            clearSelected();
            $(".largeFont").addClass("curFont");
            saveState(largeFont);
        });

        function getCookie(c_name){
            if(document.cookie.length>0){
                c_start=document.cookie.indexOf(c_name + "=");
                if (c_start!=-1){
                    c_start=c_start + c_name.length+1;
                    c_end=document.cookie.indexOf(";",c_start);
                    if(c_end==-1)c_end=document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
        }

        var savedSize = getCookie('fontSizer');

        if(savedSize!=""){
            $('.fontsizebox').css('font-size', savedSize);
            switch(savedSize){
                case smallFont: $(".smallFont").addClass("curFont");
                    break;
                case medFont: $(".medFont").addClass("curFont");
                    break;
                case largeFont: $(".largeFont").addClass("curFont");
                    break;
                default: $(".medFont").addClass("curFont");
            }
        }else {
            $('.fontsizebox').css('font-size', medFont);
            $(".medFont").addClass("curFont");
        }

    }

</script>