<!DOCTYPE html>
<html>
<head>
    <title><%= catalog.title %>_<%= catalog.book.title %>_小说有读_清爽无弹窗广告的网络小说阅读网</title>
    <meta name="keywords" content="小说有读,无弹窗,笔趣阁,小说"/>
    <meta name="description" content="小说有读是广大书友最值得收藏的网络小说阅读网，网站收录了当前最火热的网络小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/bqg.css" rel="stylesheet" type="text/css"/>

    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <div id="row" style="text-align:left;">
            <div class="col-sm-4">
                <a href="/">
                    <div class="s_lg_img text-left" style="background:url(/images/logo.png);width:200px;height:60px;">
                    </div>
                </a>
            </div>
            <div class="col-sm-8">
                <form class="s-form" class="text-right" action="/search.html" method="get">
                    <input type="text" name="key" placeholder="请输入您要搜索的关键字" class="s_ipt" maxlength="100" value="">
                    <input type="submit" value="摆渡一下" class="s_btn">
                </form>
            </div>
        </div>
    </div>
    <div class="content">
        <div id="center" style="background: #fff;border: 1px solid #F1F1F1;">
            <div class="title"><h1><%= catalog.title %></h1>
                作者:<span><%= catalog.book.author %></span>
                分类:<span><%= catalog.book.category.title %>
                </span>字体:<span>
                    <a class="largeFont">大</a>
                    <a class="medFont">中</a>
                    <a class="smallFont">小</a>
                </span>
            </div>
            <div id="content" class="fontsizebox" style="font-size: 20px;">
                <%- content %>
            </div>
            <div class="jump">
                <div class="jump1">
                    <% if(prev_catalog){ %>
                    <a href="/book/<%= catalog.book_id %>/<%= prev_catalog %>.html">上一章</a>
                    <% }else{ %>
                    <a onclick="return false">上一章</a>
                    <% } %>
                    <a href="/book/<%= catalog.book_id %>.html">回目录</a>
                    <% if(next_catalog){ %>
                    <a href="/book/<%= catalog.book_id %>/<%= next_catalog %>.html">下一章</a>
                    <% }else{ %>
                    <a onclick="return false">下一章</a>
                    <% } %>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <script>
            //    document.oncontextmenu=function(){return false;};
            document.onselectstart=function(){return false;};
        </script>
        <script type="text/javascript">
            $(document).ready(function(){
                fontResizer('16px','20px','24px');
            });
            function fontResizer(smallFont,medFont,largeFont){
                function clearSelected(){
                    $(".smallFont").removeClass("curFont");
                    $(".medFont").removeClass("curFont");
                    $(".largeFont").removeClass("curFont");
                }
                function saveState(curSize){
                    var date = new Date();
                    date.setTime(date.getTime()+(7*24*60*60*1000));
                    var expires = "; expires="+date.toGMTString();
                    document.cookie = "fontSizer"+"="+curSize+expires+"; path=/";
                }
                $(".smallFont").click(function(){
                    $('.fontsizebox').css('font-size', smallFont);
                    clearSelected();
                    $(".smallFont").addClass("curFont");
                    saveState(smallFont);
                });
                $(".medFont").click(function(){
                    $('.fontsizebox').css('font-size', medFont);
                    clearSelected();
                    $(".medFont").addClass("curFont");
                    saveState(medFont);
                });
                $(".largeFont").click(function(){
                    $('.fontsizebox').css('font-size', largeFont);
                    clearSelected();
                    $(".largeFont").addClass("curFont");
                    saveState(largeFont);
                });
                function getCookie(c_name){
                    if(document.cookie.length>0){
                        c_start=document.cookie.indexOf(c_name + "=");
                        if (c_start!=-1){
                            c_start=c_start + c_name.length+1;
                            c_end=document.cookie.indexOf(";",c_start);
                            if(c_end==-1)c_end=document.cookie.length;
                            return unescape(document.cookie.substring(c_start,c_end));
                        }
                    }
                    return "";
                }
                var savedSize = getCookie('fontSizer');
                if(savedSize!=""){
                    $('.fontsizebox').css('font-size', savedSize);
                    switch(savedSize){
                        case smallFont: $(".smallFont").addClass("curFont");
                            break;
                        case medFont: $(".medFont").addClass("curFont");
                            break;
                        case largeFont: $(".largeFont").addClass("curFont");
                            break;
                        default: $(".medFont").addClass("curFont");
                    }
                }else {
                    $('.fontsizebox').css('font-size', medFont);
                    $(".medFont").addClass("curFont");
                }
            }
        </script>
    </div>
    <div class="footer">
        <p class="legal">小说有读 致力为您打造最优越的网络小说阅读环境。</p>
        <p class="legal">小说有读 所有书籍搜索采集于互联网，是本站全自动蜘蛛爬行，无人工干预，如果侵犯了您的权益请及时联系我们。</p>
        <p class="legal">&mdash; &copy; 2017 powered by liubaicai &mdash;</p>
    </div>
</div>
</body>
</html>