
<link href="/styles/bqg.css" rel="stylesheet" type="text/css"/>

<div class="row">
  <div id="row index_last" style="text-align:left;">

    <div class="index_toplist mright">
      <div class="toptab">
        <span>点击排行</span>
      </div>
      <div class="index_top">
        <ul>

          <% @books_hot.each do |book| %>
              <li>
                <span class="hits"><%= book.author %></span>
                <span class="genre">[<%= book.category.title %>]</span>
                <a href="/<%= book.id %>.html" target="_blank"><%= book.title %></a>
              </li>
          <% end %>

        </ul>
      </div>
    </div>

    <div class="index_toplist mright">
      <div class="toptab">
        <span>编辑推荐</span>
      </div>
      <div class="index_top">
        <ul>

          <% @books_hot.each do |book| %>
              <li>
                <span class="hits"><%= book.author %></span>
                <span class="genre">[<%= book.category.title %>]</span>
                <a href="/<%= book.id %>.html" target="_blank"><%= book.title %></a>
              </li>
          <% end %>

        </ul>
      </div>
    </div>

    <div class="index_toplist mright">
      <div class="toptab">
        <span>最近更新</span>
      </div>
      <div class="index_top">
        <ul>

          <% @catalog_update.each do |catalog| %>
              <li>
                <span class="hits"><%= catalog.book.author %></span>
                <span class="genre">[<%= catalog.book.category.title %>]</span>
                <a href="/<%= catalog.book.id %>.html" target="_blank"><%= catalog.book.title %></a>
              </li>
          <% end %>

        </ul>
      </div>
    </div>

    <% @categories.each do |category| %>
        <div class="index_toplist mright">
          <div class="toptab">
            <span><%= category.title %></span>
          </div>
          <div class="index_top">
            <ul>

              <% category.books.all(:order => [ :views.desc ],:limit => 10).each do |book| %>
                  <li>
                    <span class="hits"><%= book.author %></span>
                    <span class="genre">[<%= book.category.title %>]</span>
                    <a href="/<%= book.id %>.html" target="_blank"><%= book.title %></a>
                  </li>
              <% end %>

            </ul>
          </div>
        </div>
    <% end %>

  </div>
</div>