
<div class="row">

  <div id="main" style="text-align:left;">

    <div class="coverecom mbottom">
      <div class="tabstit">
        <span class="label"></span><em>本周强推</em>
        <em style="float: right;text-align:right; font-size: 12px;margin-right: 10px;font-weight:normal;"><a href="/books-all.html">查看所有小说</a></em>
      </div>
      <div class="row recombook" style="float:left;margin-right:0;margin-left:0;padding-left:5px;padding-bottom:5px;">

        <% @books_recommend.each do |book| %>
            <dl>
              <dt><a href="/<%= book.id %>.html"><img src="http://www.qu.la/BookFiles/BookImages/<%= pinyin(book.title) %>.jpg" alt="<%= book.title %>" height="150" width="120"></a></dt>
              <dd><a href="/<%= book.id %>.html"><%= book.title %></a></dd>
              <dd><%= book.category.title %></dd>
              <dd class="tit">作者：<%= book.author %></dd>
              <dd class="name"><%= book.description %></dd>
            </dl>
        <% end %>

      </div>
    </div>
  </div>

  <div id="row index_last" style="text-align:left;">

    <div class="index_toplist mright">
      <div class="toptab">
        <span>点击排行</span>
      </div>
      <div class="index_top">
        <ul>

          <% @books_hot.each do |book| %>
              <li>
                <span class="hits"><%= book.author %></span>
                <span class="genre">[<%= book.category.title %>]</span>
                <a href="/<%= book.id %>.html" target="_blank"><%= book.title %></a>
              </li>
          <% end %>

        </ul>
      </div>
    </div>

    <div class="index_toplist mright">
      <div class="toptab">
        <span>最近更新</span>
      </div>
      <div class="index_top">
        <ul>

          <% @catalog_update.each do |catalog| %>
              <li>
                <span class="hits"><%= catalog.book.author %></span>
                <span class="genre">[<%= catalog.book.category.title %>]</span>
                <a href="/<%= catalog.book.id %>.html" target="_blank"><%= catalog.book.title %></a>
              </li>
          <% end %>

        </ul>
      </div>
    </div>

    <% @categories.each do |category| %>
        <div class="index_toplist mright">
          <div class="toptab">
            <span><%= category.title %></span>
          </div>
          <div class="index_top">
            <ul>

              <% category.books.all(:order => [ :views.desc ],:limit => 10).each do |book| %>
                  <li>
                    <span class="hits"><%= book.author %></span>
                    <span class="genre">[<%= book.category.title %>]</span>
                    <a href="/<%= book.id %>.html" target="_blank"><%= book.title %></a>
                  </li>
              <% end %>

            </ul>
          </div>
        </div>
    <% end %>

  </div>
</div>