
<div class="row">

  <div id="main" style="text-align:left;">

    <div class="coverecom mbottom">
      <div class="tabstit">
        <span class="label"></span><em>本周强推</em>
        <em style="float: right;text-align:right; font-size: 12px;margin-right: 10px;font-weight:normal;"><a href="/books-all.html">查看所有小说</a></em>
      </div>
      <div class="row recombook" style="float:left;margin-right:0;margin-left:0;padding-left:5px;padding-bottom:5px;">

        <% @books_recommend.each do |book| %>
            <dl>
              <dt><a href="/book/<%= book.id %>.html"><img src="/book-images/<%= pinyin(book.title) %>.jpg" alt="<%= book.title %>" height="150" width="120"></a></dt>
              <dd><a href="/book/<%= book.id %>.html"><%= book.title %></a></dd>
              <dd><%= book.category.title %></dd>
              <dd class="tit">作者：<%= book.author %></dd>
              <dd class="name"><%= book.description %></dd>
            </dl>
        <% end %>

      </div>
    </div>
  </div>

  <div id="row index_last" style="text-align:left;">

    <div class="index_toplist mright">
      <div class="toptab">
        <span>点击排行</span>
      </div>
      <div class="index_top">
        <ul>

          <% @books_hot.each do |book| %>
              <li>
                <span class="hits"><%= book.author %></span>
                <span class="genre">[<a target="_blank" href="/books-category.html?t=<%= book.category.title %>"><%= book.category.title %></a>]</span>
                <a href="/book/<%= book.id %>.html" target="_blank"><%= book.title %></a>
              </li>
          <% end %>

        </ul>
      </div>
    </div>

    <% @categories.each do |category| %>

        <% if category.books.size < 10 %>
            <% next %>
        <% end %>

        <div class="index_toplist mright">
          <div class="toptab">
            <span><%= category.title %></span>
          </div>
          <div class="index_top">
            <ul>

              <% category.books.all(:order => [ :views.desc ],:limit => 10).each do |book| %>
                  <li>
                    <span class="hits"><%= book.author %></span>
                    <span class="genre">[<a target="_blank" href="/books-category.html?t=<%= book.category.title %>"><%= book.category.title %></a>]</span>
                    <a href="/book/<%= book.id %>.html" target="_blank"><%= book.title %></a>
                  </li>
              <% end %>

            </ul>
          </div>
        </div>
    <% end %>

    <!--<div class="index_toplist mright">-->
      <!--<div class="toptab">-->
        <!--<span>最近更新</span>-->
      <!--</div>-->
      <!--<div class="index_top">-->
        <!--<ul>-->

          <!--< @books_new.each do |book| %>-->
              <!--<li>-->
                <!--<span class="hits"><= book.author %></span>-->
                <!--<span class="genre">[<a target="_blank" href="/books-category.html?t=<= book.category_title %>"><= book.category_title %></a>]</span>-->
                <!--<a href="/book/<= book.id %>.html" target="_blank"><= book.title %></a>-->
              <!--</li>-->
          <!--< end %>-->

        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</div>